paper:
  size_mm:
  - 297.0
  - 210.0
  origin_mm:
  - 25.0
  - 25.0
  margin_mm: 10.0
pen_tracer:
  draw_speed_mm_s: 40.0
  travel_speed_mm_s: 400.0
  z_plunge_speed_mm_s: 25.0
  z_retract_speed_mm_s: 60.0
  accel_mm_s2: 2000.0
  square_corner_velocity_mm_s: 10.0
  z_contact_mm: 80.5
  z_retract_mm: 3
  corner_circle_radius_mm: 3.0
