connection:
  socket_path: /tmp/klippy_uds
  timeout_s: 10.0
  reconnect_attempts: 5
  reconnect_interval_s: 2.0
  auto_reconnect: true
  mcu_serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_130028001051313234353230-if00
machine:
  work_area_mm:
    x: 450.0
    y: 320.0
    z: 80
  soft_limits:
    z_min: 0.0
    z_max: 80
    z_overtravel_mm: 1.0
canvas:
  offset_x_mm: 10.0
  offset_y_mm: 10.0
  width_mm: 430.0
  height_mm: 300.0
z_states:
  travel_mm: 40.0
  pen_work_mm: 80.211
  airbrush_work_mm: 0.0
tools:
  pen:
    xy_offset_mm:
    - 0.0
    - 0.0
    feed_mm_s: 150.0
    travel_feed_mm_s: 400.0
    plunge_feed_mm_s: 20.0
  airbrush:
    xy_offset_mm:
    - 0.0
    - 0.0
    feed_mm_s: 100.0
    travel_feed_mm_s: 160.0
    plunge_feed_mm_s: 10.0
    spray_height_mm: 3.0
steppers:
  motor_type: 0.9deg
  full_steps_per_rotation: 400
  driver: DM542TE
  driver_pulses_per_rev: 3200
  wiring: common_anode
  enable_pin_inverted: false
  step_pulse_duration_s: 5.0e-06
  direction_reversal_pause_s: 0.5
  klipper_microsteps: 8
  xy_rotation_distance: 32.0
  z_rotation_distance: 32.0
  belt_type: GT2
  belt_pitch_mm: 2.0
  pulley_teeth: 16
  pulley_bore_mm: 5.0
axes:
  y:
    octopus_slot: Motor 0
    motors: 1
    pins:
      step: PF13
      dir: '!PF12'
      enable: PF14
    endstop_pin: PG9
    endstop_polarity: ^!
    endstop_type: NO_to_GND
    homing_side: min
  x:
    octopus_slot: Motor 2_1 + Motor 2_2
    motors: 2
    pins:
    - step: PF11
      dir: PG3
      enable: PG5
    - step: PG4
      dir: '!PC1'
      enable: PA0
    endstop_pin: PG6
    endstop_polarity: ^!
    endstop_type: NO_to_GND
    homing_side: min
  z:
    octopus_slot: Motor 1
    motors: 1
    pins:
      step: PG0
      dir: PG1
      enable: PF15
    endstop_pin: PG10
    endstop_polarity: ^!
    endstop_type: NO_to_GND
    homing_side: max
motion:
  max_velocity_mm_s: 500.0
  max_accel_mm_s2: 3000.0
  square_corner_velocity_mm_s: 16.0
  homing_speed_mm_s: 32.0
  z_homing_speed_mm_s: 10.0
  z_second_homing_speed_mm_s: 0.5
  z_homing_retract_mm: 3.0
  junction_deviation_mm: 0.05
  idle_timeout_s: 30
interactive:
  jog_increments_mm:
  - 0.1
  - 1.0
  - 10.0
  - 50.0
  default_jog_increment_mm: 1.0
  position_poll_interval_ms: 100
file_execution:
  gcode_directory: /home/klipper/gcode_files
pumps:
  enabled: true
  stepper:
    motor_type: 1.8deg
    full_steps_per_rotation: 200
    driver_pulses_per_rev: 12800
    klipper_microsteps: 64
    rotation_distance: 4.0
    lead_per_step_mm: 0.02
    step_pulse_duration_s: 5.0e-06
    enable_pin_inverted: false
    direction_reversal_pause_s: 0.3
  syringe:
    volume_ml: 1.0
    plunger_travel_mm: 16.0
  motors:
    pump_0:
      octopus_slot: Motor 3
      pins:
        step: PF9
        dir: PF10
        enable: PG2
      endstop_pin: PG11
      endstop_polarity: ^!
      endstop_type: NO_to_GND
      homing_direction: 1
      homing_speed_mm_s: 2.0
      home_backoff_mm: 0.5
      max_dispense_speed_mm_s: 4.0
      max_retract_speed_mm_s: 4.0
bed_mesh:
  mesh_min:
  - 25.0
  - 25.0
  mesh_max:
  - 347.0
  - 260.0
  probe_count:
  - 3
  - 3
  horizontal_move_z: 75.0
  speed: 200.0
  mesh_pps:
  - 2
  - 2
  algorithm: lagrange
  calibrated_points:
  - - -0.117778
    - -0.167778
    - -0.137778
  - - 0.012222
    - 0.012222
    - 0.012222
  - - 0.162222
    - 0.112222
    - 0.112222
endstop_phase:
  enabled: true
servos:
  enabled: true
  name: tool_servo
  pin: PB6
  angle_range_deg: 270.0
  min_pulse_width_s: 0.0005
  max_pulse_width_s: 0.0025
  neutral_pulse_width_s: 0.0015
